<ion-view view-title="응답하라 오천만">
    <ion-content class="main has-header">
        <h2><img src="../img/h2_main_section1.png" alt="온 국민이 마음을 담아 국가대표 선수를 응원합니다! 소중한 응원 메시지를 확인해보세요!" /></h2>
        <a ui-sref="app.message-teams" class="button-apply"><img src="../img/btn_main_apply.png" alt="응원확인하기" /></a>
        
        <div class="section2">
            <img src="../img/img_section2.png" alt="고마운 응원 메시지에 응답해주세요! 응답하라! 국대선수! 메시지에 응답해주시면  P&G에서 선물 세트를 드립니다." />
            <a ui-sref="app.reply-message" class="button-response"><img src="../img/btn_main_response.png" alt="응답하기" /></a>
        </div>
    
    </ion-content>
</ion-view>