<ion-view class="message-visual" view-title="Photo Message">
    <ion-content>
        <h2><img src="/img/h2_messagevisual.png" alt="Photo Message 사진을  포함해 보내 온  메시지" /></h2>
        <div class="list">
            <img src="/img/list_messagevisual.png" alt="" />
        </div>
        <div class="buttons">
            <a href="javascript:;" ng-click="textmore()"><img src="/img/btn_more.png" alt="더보기" /></a>
            <a ui-sref="app.reply-message"><img src="/img/btn_respons.png" alt="응답하기" /></a>
        </div>
    </ion-content>
</ion-view>