<ion-view class="message-text" view-title="Text Message">
    <ion-content>
        <h2><img src="../img/h2_messagetext.png" alt="Text Message 텍스트  필터를 사용해 보내 온  메시지" /></h2>
        <div class="list">
            <img src="../img/list_messagetext.png" alt="" />
        </div>
        <div class="buttons">
            <a href="javascript:;" ng-click="textmore()"><img src="../img/btn_more.png" alt="더보기" /></a>
            <a ui-sref="app.reply-message"><img src="../img/btn_respons.png" alt="응답하기" /></a>
        </div>
    </ion-content>
</ion-view>