<ion-view class="reply-message" view-title="메시지 작성">
    <ion-content>
        <h2><img src="../img/h2_reply.png" alt="고마운 응원의 목소리에 응답해 주세요!" /></h2>

        <div ng-if="(imageSource != null)">
            <img ng-src="{{imageSource }}" />
        </div>

        <div class="textmessage">
            <input type="text" value="TO. 국민여러분께" />
            <textarea name="" id="" placeholder="고마운 응원의 목소리에 응답해 주세요!"></textarea>
            <img src="../img/img_message_picture.png" alt="" />
        </div>

        <div class="buttons">
            <a ng-click="takePicture()"><img src="../img/btn_reply_picture.png" alt="사진첨부" class="btn1" /></a>
            <a ui-sref="app.reply-info"><img src="../img/btn_reply_response.png" alt="응답하기" class="btn2" /></a>
        </div>


        <div class="snow">
            <a href="javascript:;" ng-click="snowClick()"><img src="../img/btn_reply_snow.png" alt="스노우 촬영" /></a>
        </div>

    </ion-content>
</ion-view>